# Modify the following paths accordingly
input_dir=
output_dir=$(pwd)
tools_dir=

bam_dir=$output_dir/bam
rpt_dir=$output_dir/rpt
vcf_dir=$output_dir/vcf

# Reference Genome Info
ref_genome=$ref_dir/human_g1k_v37.fasta
db138_SNPs=$ref_dir/dbsnp_138.b37.vcf
g1000_indels=$ref_dir/1000G_phase1.indels.b37.vcf
g1000_gold_standard_indels=$ref_dir/Mills_and_1000G_gold_standard.indels.b37.vcf

# Tools
BWA=
SAMTOOLS=
GATK=
PICARD=
JAVA=

check_input() {
  filename=$1;
  if [ ! -f $filename ]; then
    echo "Input file $filename does not exist";
    exit 1;
  fi;
}

check_output() {
  filename=$1;
  if [ -f $filename ]; then
    echo "Output file $filename already exists";
    exit 1;
  fi;
  # Check if output folder writtable
  echo "1" > $filename;
  if [ ! -f $filename ]; then
    echo "Cannot write to folder $(dirname $filename)";
    exit 1;
  fi;
  rm $filename;
}

# create output dir if it does not exist 
create_dir() {
  dir=$1
  if [[ ! -d "$dir" ]]; then
    mkdir $dir &> /dev/null;
    if [ $? -ne 0 ]; then
      echo "Cannot create dir $dir";
      exit 1;
    fi
  fi;
}

# log messge
log_msg() {
  local level=$1;
  local msg=$2;
  local v=$verbose;
  if [[ "$v" == "" ]]; then
    local v=1;
  fi;
  if [ "$level" -le "$v" ]; then
    (>&2 echo "$msg");
  fi;
}

log_info() {
  log_msg 2 "$1";
}

log_warn() {
  log_msg 1 "$1";
}

log_error() {
  log_msg 0 "$1";
}
