# Modify the following paths accordingly
output_dir=$(pwd)
tools_dir=
tmp_dir[1]=
tmp_dir[2]=

ref_dir=
fastq_dir=
sam_dir=
bam_dir=
log_dir=

# Reference Genome Info
ref_genome=$ref_dir/factor4/human_g1k_v37.fasta
db138_SNPs=$ref_dir/dbsnp_138.b37.vcf
g1000_indels=$ref_dir/1000G_phase1.indels.b37.vcf
g1000_gold_standard_indels=$ref_dir/Mills_and_1000G_gold_standard.indels.b37.vcf

# Tools
BWA=
SAMTOOLS=
PICARD=
GATK=
GATK_QUEUE=
JAVA=
